@tailwind base;
@tailwind components;
@tailwind utilities;

/* THE STYLES FOR THE 404 ERROR */
.error {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .errorContent {
    padding: 20px;

    .errorText {
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 700;
      color: #000;
    }
    .errorBtn {
      background: #000;
      color: #fff;
      padding: 10px 0;
      width: 100%;
      border-radius: 10px;
    }
  }
}
/* END OF 404 STYLES */

/* THE STYLES FOR THE DASHBOARD */
.dashboard {
    background: #fff7ed;
  button {
    background: transparent;
    border: none;
    font-weight: 600;
  }
  .dashboardContent {
    .dashboardContainer {
      .dashboardLinks {
        background: #f7f7f7;

        ul {
          display: flex;
          text-align: start;
          gap: 5%;

          li {
            list-style: none;
            opacity: 0.5;
          }
        }
      }
      .dashboardMain {
        .dashboardHeading {
          background: #ffead0;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .div {
            display: flex;
            justify-content: space-between;

            p {
              span {
                text-decoration: underline;
              }
            }
          }
        }
        .dashboardReview {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 3rem;
          background: #ffddb2;

          .dashboardReviewScore {
            display: flex;
            align-items: end;
            gap: 1rem;

            .review {
              span {
                opacity: 0.5;
              }
            }
          }
        }
        .dashboardListedVans {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .dashboardVan {
          margin: .8rem;
          padding: 0 10px;
          background: #fff;
          display: flex;
          justify-content: space-between;

          .dashboardPictureDetails {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;

            .dashboardImages{
                height: 3rem;
            }
          }
        }
      }
    }
  }
}
/* END OF DASHBOARD STYLES */
